body{
    background-color: rgb(205, 63, 170);
    background-color: rgb(221, 233, 255);
}

a{
    color: #dd33cf;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}




